.divider {
    display: flex;
}

.divider-horizontal {
    padding: 16px;
}

.divider-horizontal > div::before, .divider-horizontal > div::after {
    content: '';
    display: inline-flex;
    width: 100px;
    height: 1px;
    margin: 4px 8px;
}

.divider-white > div::before, .divider-white > div::after {
    background-color: white;
}